mixin counter(count)
    .counter&attributes(attributes)
        button.counter__btn.counter__decrement!="-"
        .counter__value!= count
        button.counter__btn.counter__increment!="+"
        