extends ../../layouts/base
include ../../components/counter/counter
include ../../components/slider/slider
include ../../components/modal/modal
include ../../components/mainComponent/mainComponent

block head
    title Home

block content
    main(data-barba="container" data-barba-namespace="index").index
        +mainComponent
            +modal 
                +slider
